.header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.bookCardsContainer {
    border-top: solid black 2px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    gap: 25px;
    padding: 20px;
}

.cardCell {
    display: flex;
    gap: 10px;
}

.block2 {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.block2Header {
    display: flex;
    align-items: center;
    margin: 5px;
}

#addNewBookButton {
    margin-left: auto;
    padding: 10px;
    border: solid 2px black;
    background-color: antiquewhite;
}

#addNewBookButton:hover {
    background-color: whitesmoke;
}

.bookCard {
    background-color: antiquewhite;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-left: solid 5px black;
    border-radius: 10px;
}

.bookCard:hover {
    box-shadow: 1px 1px 2px black;
}